/*********************************************************************************
Table of Contents
--General
  --h1 - h4
  --p

--SideNav
  --sidebar general
  --sidebar links

--Page Content

--multiple sections - styles applying to multiple sections of site

--home

--Footer
************************************************************************************/

/* General */

/* h1 - h4 */
h1{ 
    /* font-family: 'Saira Extra Condensed', sans-serif; */
      /* text-align: center; */
      font-size: 8vw;
      font-weight: 900;
      text-transform: uppercase;
      font-family: 'Judson', serif;
  }

  h2{
      font-weight: 800; 
      font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Judson', serif;
    color: navy;
    padding: 20px 0px 40px 0;
  }

  h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
  }

  h4{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.5;
  }
  /* end h1 - h4 */

  /* p */

p{
    font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* end p */

/* theme color */
.sp{
    color: burlywood;
    padding: 10px;
}

/* content opacity */

.content-opacity{
    opacity: 0.8;
}

/* to insert a dot */
.dot {
    height: 10px;
    width: 10px;
    background-color: navy;
    border-radius: 50%;
    display: inline-block;
  }

/* end General */

/* SideNav */

/* sidebar general*/
.sidebar {
    margin: 0;
    padding: 40px;
    width: 25%;
    background-color: burlywood;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
  }

  /* end sidebar general */
  
  /* Sidebar links */
  .sidebar a {
    font-family: 'Judson', serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: navy;
    padding: 6px;
    text-decoration: none;
    opacity: 0.6;
  }
  
  /* Active/current link */
  .sidebar a.active {
    color: navy;
    font-weight: bolder;
    opacity: 1;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    font-weight: bolder;
    color: navy;
    opacity: 1;
  }

  /* end Sidebar links */

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  main.content {
    margin-left: 25%;
    padding: 10% 0 0 20px;
    height: 100%;
    font-weight: 700;
  }

  /* multiple pages */

  .skills, .interests{
    padding-top: 15%;
    padding-bottom: 20%;
}
.certs, .awards{
    padding-top: 4%;
    padding-bottom: 8%;
}

img{
    padding-bottom: 5px;
}

.row{
    padding: 20px;
}

  /* home */

  section.home{
      margin-right: 25%;
      text-align: center;
      height: 100%;
      padding-bottom: 15%; 
  }

  .home-content{
      margin-top: 30px;
      opacity: 0.8;
      font-weight: 100;
  }
  .name-deco{
    color: burlywood;
}

  .social-links{
      padding-top: 25px;
  }

  /* footer */
  footer{
    opacity: 0.8;
}

  /* Footer links */
  footer a {
      text-decoration: none;
      color: inherit;
    }
    
    /* Links on mouse-over */
    footer a:hover {
        text-decoration: none;
      font-weight: bolder;
      color: navy;
      opacity: 1;
    }


  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    main.content {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }